/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}



 /*Background:
 Foreground:
 Border:*/

/*
* Content
* 1. Colors
*   1.1. ColorTable
*   1.2. Specific Colors
* 2. Styles
* 3. Help Classes
*/


/*-------------------------------------*
    1. Colors
*-------------------------------------*/

/*-------------------------------------*
    1.1. ColorTable
*-------------------------------------*/

/*

Teal - Google Color Pattern  https://www.google.com/design/spec/style/color.html#color-color-palette

500 #009688

50  #E0F2F1
100  #B2DFDB
200  #80CBC4
300  #4DB6AC
400  #26A69A
500  #009688
600  #00897B
700  #00796B
800  #00695C
900  #004D40
A100 #A7FFEB
A200 #64FFDA
A400 #1DE9B6
A700 #00BFA5

*/

/*-------------------------------------*
    1.2. Specific Colors
*-------------------------------------*/





/*

    Normal Background:
    Normal Foreground:
    Normal Border:

    Pressed Background:
    Pressed Foreground:
    Pressed Border:

    Highlighted Background:
    Highlighted Foreground:
    Highlighted Border:

    Disabled Background:
    Disabled Foreground:
    Disabled Border:

Background:
    Background: #009688

a:
    Normal Background:#00897B
    Normal Foreground:#ffffff
    Normal Border:#00897B

    Pressed Background:#00796B
    Pressed Foreground:#80CBC4
    Pressed Border:#00897B

    Highlighted Background:
    Highlighted Foreground:
    Highlighted Border:

    Disabled Background:
    Disabled Foreground:
    Disabled Border:










*/


/*@font-face {
    font-family: "customfont";
    src: url("../Resources/Fonts/Roboto-Light.ttf") format("opentype");   
         //Make sure you defined the correct path, which is related to
           // the location of your file `my_css.css` 
    }*/
    
    /*@font-face {
    font-family: "customfont2";
    src: url("../Resources/Fonts/Roboto-Regular.ttf") format("opentype");   
        //Make sure you defined the correct path, which is related to
            //the location of your file `my_css.css` 
    }*/

/*-------------------------------------*
    2. Styles
*-------------------------------------*/


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
     background-color: #26A69A;  
     
     font-family: "customfont2";
     font-size: 16pt;
     width: 100%;
}

/*-----------------------
| a
*-----------------------*/
a{
    background-color:#00897B;
    border-radius:8px;
    border:1px solid #00897B;
    display:inline-block;
    color:#ffffff;
    font-family: "customfont2";
    font-weight: normal;
    font-size:17px;
    padding:8px 12px;
    text-decoration:none;
}


a:active{
    background-color:#00796B;
    border-radius:8px;
    border:1px solid #00897B;
    display:inline-block;
    color:#80CBC4;
    font-family:Roboto;
    font-weight: normal;
    font-size:17px;
    padding:8px 12px;
    text-decoration:none;
}

a.aRound{
    border-radius:100%;
    display: inline;
    float: left;
    font-size:17px;
    font-weight: bold;
    padding:8px 12px;
    text-decoration:none;
    
    
}

a.big{
    margin: 3px 3px 17px 3px;
    width: 80%
}

/*-----------------------
| button
*-----------------------*/

button{
	background-color:#00897B;
	border-radius:8px;
	border:1px solid #00897B;
	display:inline-block;
	color:#ffffff;
	//font-family:Roboto;
        font-weight: normal;
	font-size:17px;
	padding:8px 12px;
	text-decoration:none;

}
button:active{
    background-color:#00796B;
    border:1px solid #00897B;
    display:inline-block;
    color:#80CBC4;
    font-family:Roboto;
    font-weight: normal;
    font-size:17px;
    padding:8px 12px;
    text-decoration:none;
}


button.big{
    margin: 3px 3px 17px 3px;
    
    width: 100%;
}

button.bigInside{
    margin: 0px;
    width: 100%;
}

button.round{
    border-radius:100%; 
    padding:8px 12px;
    font-size:17px;
    text-decoration:none;
    display: inline;
    float: left;
}
/*-----------------------
| checkbox
*-----------------------*/



.checkbox label input[type="checkbox"]{
    position: relative;
    visibility: hidden;
}

.checkbox label .checkboxModified{
   width: 14pt;
   height: 14pt;
   background: url('../Resources/Icons/checkbox_sprite.png') no-repeat ;
   background-size: 28pt 14pt ;
   position: absolute;
   top: 0;
   left: 0;
}

.checkbox label input[type="checkbox"]:checked + .checkboxModified{
     background-position: -14pt 0px;
}
/*-----------------------
| div
*-----------------------*/

div.divFilled{
    background-color:#00897B;
    border-radius:8px;
    border:1px solid #00897B;
    display:inline-block;
    color:#ffffff;
    font-family: "customfont2";
    font-weight: normal;
    font-size:17px;
    margin: 3px 3px 17px 3px;
    padding:8px 12px;
    text-decoration:none; 
    width: 80%
}

div.divRollOut{
    animation-name: divRollsOut;
    animation-duration: 4s;
    background-color:#00897B;
    border-radius:8px;
    border:1px solid #00897B;
    display:inline-block;
    color:#ffffff;
    font-family: "customfont2";
    font-weight: normal;
    font-size:17px;
    margin: 3px 3px 17px 3px;
    text-decoration:none; 
    width: 80%
    
}

@keyframes divRollsOut {
    from {height 20px;}
    to {height: 300px;}
}

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
	
}
.threecol .colmid {
	right:10%;			/* width of the right column */
	
}
.threecol .colleft {
	right:80%;			/* width of the middle column */
	
}
.threecol .col1 {
	width:80%;			/* width of center column content (column width minus padding on either side) */
	left:100%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:10%;			/* Width of left column content (column width minus padding on either side) */
	left:0%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:10%;			/* Width of right column content (column width minus padding on either side) */
	left:100%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

#center{
    text-align: center;
}

#footer {
        bottom: 0px;
	clear:both;
	float:left;
	width:100%;
        text-align: center;
	

/*-----------------------
| h
*-----------------------*/
        
h1{
    color: #ffffff;
    font-weight: normal;
    margin-left: 5%;
    
    
}        

/*-----------------------
| iframe
*-----------------------*/
iframe {
    border: none;
}
        
/*-----------------------
| input
*-----------------------*/
input{
    background: transparent;
    border-color: #00897B;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-left-width: 2px;
    border-right-width: 0px;
    border-left-width: 0px;
    color: white;
    font-size: 14pt; 
    margin: 3px;

}



input.big{
    margin: 3px 3px 17px 3px;
    width: 100%;
    
}

/*-----------------------
| label
*-----------------------*/

label {
    color: white;
    font-size: 14pt;
}

/*-----------------------
| p
*-----------------------*/
p {
    color: white;
    font-size: 14pt;
}

p.big{
    width: 100%;
}

p.pDateItem{
    display: inline;
    float: next;
}

/*-----------------------
| textarea
*-----------------------*/

textarea{
    background: #00897B;
    border-color: #00897B;
    border-width: 0px;
    color: white;
    font-size: 14pt;    
    margin: 3px;
}

textarea.big{
    height: 96pt;
    margin: 3px 3px 17px 3px;
    width: 100%;
}



/*-------------------------------------*
    2. Help Classes
*-------------------------------------*/

/*@font-face{
    font-family: aFont;
    src: url("../Resources/Fonts/Roboto-Regular.ttf");
}*/

/*.myFontClass{
    font-family: aFont;
}*/
//prevents jquery mobile from show loading span
//.ui-loading .ui-loader { display: block; }
//.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }

.width100 { width: 100%; }
.width75 { width: 75%; }
.width50 { width: 50%; }
.floatLeft { float: left; }
.floatRight { float: right; }
.alignLeft { text-align: left; }
.alignRight { text-align: right; }


