/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}



/*Background:
Foreground:
Border:*/

/*
* Content
* 1. Colors
*   1.1. ColorTable
*   1.2. Specific Colors
* 2. Styles
* 3. Help Classes
*/


/*-------------------------------------*
    1. Colors
*-------------------------------------*/

/*-------------------------------------*
    1.1. ColorTable
*-------------------------------------*/

/*

Teal - Google Color Pattern  https://www.google.com/design/spec/style/color.html#color-color-palette

500 #009688

50  #E0F2F1
100  #B2DFDB
200  #80CBC4
300  #4DB6AC
400  #26A69A
500  #009688
600  #00897B
700  #00796B
800  #00695C
900  #004D40
A100 #A7FFEB
A200 #64FFDA
A400 #1DE9B6
A700 #00BFA5

*/

/*-------------------------------------*
    1.2. Specific Colors
*-------------------------------------*/





/*

    Normal Background:
    Normal Foreground:
    Normal Border:

    Pressed Background:
    Pressed Foreground:
    Pressed Border:

    Highlighted Background:
    Highlighted Foreground:
    Highlighted Border:

    Disabled Background:
    Disabled Foreground:
    Disabled Border:

Background:
    Background: #009688

a:
    Normal Background:#00897B
    Normal Foreground:#ffffff
    Normal Border:#00897B

    Pressed Background:#00796B
    Pressed Foreground:#80CBC4
    Pressed Border:#00897B

    Highlighted Background:
    Highlighted Foreground:
    Highlighted Border:

    Disabled Background:
    Disabled Foreground:
    Disabled Border:










*/


/*@font-face {
    font-family: "customfont";
    src: url("../Resources/Fonts/Roboto-Light.ttf") format("opentype");   
         //Make sure you defined the correct path, which is related to
           // the location of your file `my_css.css` 
    }*/

/*@font-face {
font-family: "customfont2";
src: url("../Resources/Fonts/Roboto-Regular.ttf") format("opentype");   
    //Make sure you defined the correct path, which is related to
        //the location of your file `my_css.css` 
}*/

/*-------------------------------------*
    2. Styles
*-------------------------------------*/


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #26A69A !important;  

    font-family: "customfont2";
    font-size: 16pt;
    width: 100%;
}

/*-----------------------
| a
*-----------------------*/
/*a{
    background-color:#00897B;
    border-radius:8px;
    border:1px solid #00897B;
    display:inline-block;
    color:#ffffff;
    font-family: "customfont2";
    font-weight: normal;
    font-size:17px;
    padding:8px 12px;
    text-decoration:none;
}


a:active{
    background-color:#00796B;
    border-radius:8px;
    border:1px solid #00897B;
    display:inline-block;
    color:#80CBC4;
    font-family:Roboto;
    font-weight: normal;
    font-size:17px;
    padding:8px 12px;
    text-decoration:none;
}

a.aRound{
    border-radius:100%;
    display: inline;
    float: left;
    font-size:17px;
    font-weight: bold;
    padding:8px 12px;
    text-decoration:none;
    
    
}

a.big{
    margin: 3px 3px 17px 3px;
    width: 80%
}*/



.ui-btn {
    background-color:#00897B !important;
    border-radius:16px !important;
    border:1px solid #00897B !important;
    color:#ffffff !important;
    font-size:17px;
    font-weight: normal !important;
    text-shadow: none !important;
    
}​

/*-----------------------
| button
*-----------------------*/

button{
    background-color:#00897B;
    border-radius:8px;
    border:1px solid #00897B;
    display:inline-block;
    color:#ffffff;
    //font-family:Roboto;
    font-weight: normal;
    font-size:17px;
    padding:8px 12px;
    text-decoration:none;

}
button:active{
    background-color:#00796B;
    border:1px solid #00897B;
    display:inline-block;
    color:#80CBC4;
    font-family:Roboto;
    font-weight: normal;
    font-size:17px;
    padding:8px 12px;
    text-decoration:none;
}


button.big{
    margin: 3px 3px 17px 3px;

    width: 100%;
}

button.bigInside{
    margin: 0px;
    width: 100%;
}

button.round{
    border-radius:100%; 
    padding:8px 12px;
    font-size:17px;
    text-decoration:none;
    display: inline;
    float: left;
}
/*-----------------------
| checkbox
*-----------------------*/



/*.checkbox label input[type="checkbox"]{
    position: relative;
    visibility: hidden;
}

.checkbox label .checkboxModified{
    width: 14pt;
    height: 14pt;
    background: url('../Resources/Icons/checkbox_sprite.png') no-repeat ;
    background-size: 28pt 14pt ;
    position: absolute;
    top: 0;
    left: 0;
}

.checkbox label input[type="checkbox"]:checked + .checkboxModified{
    background-position: -14pt 0px;
}*/
/*-----------------------
| div
*-----------------------*/

div.divFilled{
    background-color:#00897B;
    border-radius:8px;
    border:1px solid #00897B;
    display:inline-block;
    color:#ffffff;
    //font-family: "customfont2";
    font-weight: normal;
    font-size:17px;
    margin: 3px 3px 17px 3px;
    padding:8px 12px;
    text-decoration:none; 
    width: 80%
}

div.divRollOut{
    //animation-name: divRollsOut;
    //animation-duration: 4s;
    background-color:#00897B;
    border-radius:8px;
    border:1px solid #00897B;
    display:inline-block;
    color:#ffffff;
    //font-family: "customfont2";
    font-weight: normal;
    font-size:17px;
    margin: 3px 3px 17px 3px;
    text-decoration:none; 
    width: 80%

}

div.ui-content{
    background-color: #26A69A !important;
    border-color: #26A69A !important;
    //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) !important;

}

div.ui-header{
    background-color: #00897B !important;
    border-color: #00897B !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) !important;
}

div.ui-footer{
    background-color: #00897B !important;
    border-color: #00897B !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) !important;
    color:#ffffff !important;
    font-family: sans-serif;
    font-size:17px;
    font-weight: normal !important;
    text-shadow: none !important;
}

/*@keyframes divRollsOut {
    from {height: 20px;}
    to {height: 300px;}
}*/



/*-----------------------
| h
*-----------------------*/

h1{
    color: #ffffff;
    font-weight: normal; 
    font-family: sans-serif;
    font-weight: normal !important;
    text-shadow: none !important;
    margin-left: 5%;


}        
h2{
    color: #ffffff;
    font-weight: bold; 
    font-family: sans-serif;
    font-weight: normal !important;
    text-shadow: none !important;
    font-size: 17px;



}  

/*-----------------------
| iframe
*-----------------------*/
iframe {
    border: none;
}

/*-----------------------
| input
*-----------------------*/






input.big{
    margin: 3px 3px 17px 3px;
    width: 100%;

}

/*-----------------------
| label
*-----------------------*/

label {
    color: white;
    font-size: 14pt;
}

/*-----------------------
| p
*-----------------------*/
p {
    color: white;
    font-size: 14pt;
}

p.big{
    width: 100%;
}

p.pDateItem{
    display: inline;
    float: next;
}

/*-----------------------
| textarea
*-----------------------*/

/*textarea{
    background: #00897B;
    border-color: #00897B;
    border-width: 0px!important;
    color: white;
    font-size: 14pt !important; 
    margin: 3px !important;
}

textarea.big{
    height: 96pt;
    margin: 3px 3px 17px 3px;
    width: 100%;
}

textarea.textareaLine{
    //background: #4DB6AC !important;
    background: transparent !important;
    border-color: #00897B  !important;
    border-bottom-width: 2px !important;
    border-top-width: 0px !important;
    border-left-width: 2px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
    border-radius: 0px;
    color: white !important;
    font-size: 14pt !important; 
    margin: 3px !important;
    text-shadow: none !important;
}*/ 

/*-------------------------------------*
    jquery mobile overwrite
*-------------------------------------*/


.ui-page-theme-a
{
    background-color: #26A69A !important;
    border-color: #26A69A !important;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15) !important;
}

.ui-input-text{
    background: #4DB6AC !important;
    border-color: transparent !important;
    color: white !important;
    font-size: 14pt !important; 
    margin: 3px !important;
    text-shadow: none !important;
    

}






/*-------------------------------------*
    2. Help Classes
*-------------------------------------*/

/*@font-face{
    font-family: aFont;
    src: url("../Resources/Fonts/Roboto-Regular.ttf");
}*/

/*.myFontClass{
    font-family: aFont;
}*/

//prevents jquery mobile from show loading span
//.ui-loading .ui-loader { display: block; }
//.ui-loader { display: none; position: absolute; opacity: .85; z-index: 100; left: 50%; width: 200px; margin-left: -130px; margin-top: -35px; padding: 10px 30px; }

.width100 { width: 100%; }
.width75 { width: 75%; }
.width50 { width: 50%; }
.floatLeft { float: left; }
.floatRight { float: right; }
.alignLeft { text-align: left; }
.alignRight { text-align: right; }


